NODE_ENV=development
PORT=3000

MONGO_URI=mongodb://mongodb:27017/api_monitoring
MONGO_DB_NAME=api_monitoring

PG_HOST=postgres
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=password
PG_DATABASE=api_monitoring

# use this if using external server
# PG_URI=postgresql://default_user:password@host....
# PG_SSL=true

RABBITMQ_URI=amqp://api_user:api_password@rabbitmq:5672/api_monitoring
RABBITMQ_QUEUE=api_hits

JWT_SECRET=alphabetagamma
JWT_EXPIRES_IN=24h

# keep it false if running in docker
RUN_CONSUMER_ON_RENDER=false